use_sops() {
        local path=${1:-$PWD/secrets.env}
        eval "$(sops -d --output-type dotenv "$path" | direnv dotenv bash /dev/stdin)"
        watch_file "$path"
}
export BACKEND_TYPE=vllm
export VLLM_BASE_URL=http://129.213.21.136:8000
export DIRENV_WARN_TIMEOUT=20s
export OPENCODE_CONFIG=$(pwd)/opencode.json
eval "$(devenv direnvrc)"

use devenv
use sops
